
/* Gallery Section Styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/* Setting up the overall styling for the body*/
body {
    height: 100vh;
    font-family: "Raleway", sans-serif;
    background-color: #000;
}

/* Styles dor the color schemes*/
.color-schemes {
    position: static;
    top: 20px;
    right: 20px;
    margin-top: 90px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

/* Styling the color scheme labels */
.color-schemes label {
    font-size: 1.6rem;
    color: #fff;
    margin-right: 10px;
}
/* Styling the color scheme drop down*/
.color-schemes select {
    background: #ddd;
    color: #010d11;
    font-size: 1.6rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Styling the font sizes*/
.font-sizes {
    position: static;
    right: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
/* Styling font size buttons*/
.font-sizes .btn {
    padding: 0 10px;
    display: inline-flex;
    background: #ddd;
    color: #010d11;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    border: black;
}
 /*styling for the active font size button*/
.font-sizes .btn.active {
    background-color: #444;
    color: red;
    font-weight: bold;
}

.font-sizes .btn:nth-child(2) {
    font-size: 2rem;
}

.font-sizes .btn:nth-child(3) {
    font-size: 2.5rem;
}

h1 {
    color: #488f4a;
    text-align: center;
    font-size: 40px;
}

.intro {
    color: #488f4a;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.container {
    margin-bottom: 70px; /* margin for the entire container*/
}

.row {
    display: flex;    /* Flex layout for the image cards*/
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Styling for each image cards */
.image {
    background: #87CEEB;
    position: relative;
    flex: 0 0 calc(33.33% - 40px);
    max-width: calc(33.33% - 40px);
    height: 450px;
    margin: 20px;
    overflow: hidden;
}
/* Styling the image inside the card*/
.image img {
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: center;
    vertical-align: center;
    object-fit: cover;
    transition: 0.6s;
    transition-property: opacity;
}
/* Styling for the image on hove*/
.image:hover img {
    opacity: 0.5;
}
/*styling for the details overlay*/
.image .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.image .details h2 {
    text-align: center;
    color: #F0FFFF;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transform;
}

.image .details h2 span {
    font-weight: 900;
}

.image:hover .details h2 {
    transform: translateY(-30px);
}

.image .details p {
    margin: 30px 30px 0 30px;
    color: aliceblue;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.image:hover .details p {
    opacity: 1;
    transform: translateY(-40px);
}

.more {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}

.image:hover .more {
    bottom: 0;
}

.more .read-more {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.more .read-more span {
    font-weight: 900;
}

.more .icon-links i {
    color: #000;
    font-size: 20px;
}

.more .icon-links a:not(:last-child) i {
    margin-right: 20px;
}

/* Footer Section Styles */
button {
    border: navajowhite;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.centerBtn {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    background-color: #ffffffd3;
    padding: 20px;
    text-align: center;
    
}

.footer-button {
    background-color: #081626;
    margin-left: 1000px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* Responsive CSS */
@media (max-width: 1080px) {
    .image {
        flex: 0 0 calc(50% - 40px);
        max-width: calc(50% - 40px);
        /*styles for screens up to 1080px wide*/
    }
}

@media (max-width: 600px) {
    .image {
        flex: 0 0 calc(100% - 40px);
        max-width: calc(100% - 40px);
        /* Styles for the screens up to 600px wide*/
    }
}
