@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    background-color: rgb(255, 255, 255);
    font-family: Quicksand;
    color: #ffffff;
}

table{
    margin: auto;
}
.category-title{
    padding: 0px;
    background-color: #49b75b;
    text-align: center;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

.product{
    margin: 10px;
    width: 250px;
    height: 400px;
    background-color: #5be256;
    border-radius: 20px 10px 100px;  
    text-align: center;
}
.product:hover{
    box-shadow: 10px 5px 18px 5px rgb(64, 205, 106);
}

.product-title{
    text-align: center;
    padding: 5px;
}
.product-img{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5px;
}
.product-price{
    font-size: 20px;
}
.product-description{
    padding: 0px;
}
.product-action{
    display: inline-block;
}
.product-action a{
    text-decoration: none;
}
.btn{
    padding: 7px;
    background-color: rgb(32, 107, 10);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin: 2px;
    text-align: center;
}
.btn:hover{
    box-shadow: 0px 0px 0px 2px rgb(31, 195, 45);
    background-color: rgb(255, 0, 0)
}
#fireDeamon{
    background:linear-gradient(to right, rgb(221, 113, 46) , rgb(219, 219, 78));
    box-shadow: 10px 5px 18px 5px rgb(255, 255, 255);

}
#fireDeamon:hover{
    box-shadow: 10px 5px 18px 5px rgb(197, 188, 24);
}
#cobraDeamon{
    background:linear-gradient(to right,   rgb(78, 179, 219),rgb(221, 46, 180));
    box-shadow: 10px 5px 18px 5px rgb(255, 255, 255);
}
#cobraDeamon:hover{
    box-shadow: 10px 5px 18px 5px rgb(241, 12, 188);
}
#peacockDeamon{
    background:linear-gradient(to right, rgb(200, 62, 62) , rgb(57, 101, 197));
    box-shadow: 10px 5px 18px 5px rgb(255, 255, 255);
}
#peacockDeamon:hover{
    box-shadow: 10px 5px 18px 5px rgb(37, 86, 194);
}
#gurulaDeamon{
    background:linear-gradient(to right,  rgb(78, 167, 219),rgb(221, 113, 46));
    box-shadow: 10px 5px 18px 5px rgb(255, 255, 255);
}
#gurulaDeamon:hover{
    box-shadow: 10px 5px 18px 5px rgb(235, 92, 3);
}
.wallArts{
    background-color: #3fabc9;
}
.product-name{  
    font-size: 15px;
}
span.price {
    float: right;
    font-size: 15px;
}
.cart{
    position:fixed;
    text-align: right;
}
.cart img{
    width: 40px;
}
.cart span{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: absolute;
    top: -5px;
    left: 95%;
    padding: 3px 10px;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: left;
    background-color: #DCE0E1;
    padding: 10px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
    height: 450px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #edf19e;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #444749;
    height: 640px;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
    
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #4fbb3e;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}

