@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,500&family=Oswald:wght@200;300;500;600&family=Roboto+Slab:wght@200;300;400;600&display=swap');

:root{
    --green:#2abd5de7;
}
/* all font size and out lines */
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    
}
/* when we selected somethin its bachgroud color */
*::selection{
    background: var(--green);
    color: #ffff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}
.feedback h2{
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
}
.feedback .feedbak-header span{
    background-color: var(--green);
    padding: 10px;
    border-radius: 10px;
}
.feedback .comment-section .f1{
    background: fixed;
    background-color: #56ffc7c0;
    border-radius: 20px;
    
}
.feedbak-header h1 {
    text-align: center;
    align-items: center;
    font-weight: 300pxS;
}
.feedback .comment-section .selct-feedback{
    /* margin-left: auto;
    margin-right: auto; */
    width: 80%;
    height: 50px;   
}
.feedback .comment-section table {
    
    padding: 20px;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 80px;
    font-size: 15px;
    
}
.feedback .comment-section table, td{
    text-align: center;
}
.feedback .user-datils{
    background-color: #56ffc7c0;
    border-radius: 0.6rem;
}
.feedback .user-datils label{
    font-size: 1.3rem;
    margin-left: 30px;
    margin-top: 30px;
    
}
.feedback .user-datils input{
    font-size: 1.3rem;
    margin-top: 30px;
    width: 90%;
    border-radius: 0.3rem;
    
}
/* user datails section */
.feedback .user-datils .last{
    margin-bottom: 30px;
   
}
.feedback .comment-section .f2{
    background: fixed;
    background-color: #56ffc7c0;
    border-radius: 0.6rem;
}
.feedback .comment-section .f2 textarea{
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 0.3rem;
}
.feedback .comment-section .f3{
    background: fixed;
    background-color: #56ffc7c0;
    border-radius: 0.6rem;
}
.feedback .comment-section select{
    font-size: 2rem;
    width: 90%;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 0.3rem;
}
.feedback .comment-section .f4{
    background: fixed;
    background-color: #56ffc7c0;
    border-radius: 0.6rem;
}
.feedback .submit-btn{
    align-items: center;
    text-align: center;
}
.feedback .submit-btn input{
    width: 15%;
    font-size: 20px;
    color: #000000;
    height: 35px;
    background-color: #14e796;
    border-radius: 0.5rem;
    cursor: pointer;
}
.feedback .submit-btn:hover{
    color:var(#133d22)
    
}

.page-editor{
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}





footer {
    background-color: #270a0ad3;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
