@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,500&family=Oswald:wght@200;300;500;600&family=Roboto+Slab:wght@200;300;400;600&display=swap');

:root{
    --green:#2abd5de7;
}
/* all font size and out lines */
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    
}
/* when we selected somethin its bachgroud color */
*::selection{
    background: var(--green);
    color: #ffff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}
/* header section styles */
.heading{
    text-align: center;
    padding: 2.5rem 0;
}
/* down side of the main page */
.heading span{
    font-size: 2.5rem;
    background:var(--green);
    border-radius: 0.8rem;
    padding: 0.2rem 1rem;
    display: inline-block;
}
.heading span.space{
    background: none;
}
/* feedback section */
.feedbak-header span{
    font-size: 2.5rem;
    background:var(--green);
    border-radius: 0.8rem;
    padding: 0.2rem 1rem;
    display: inline-block;
}

header{
    position: fixed;
    top:0; left: 0; right: 0;
    background: linear-gradient(to right, rgb(110, 201, 198),rgb(38, 224, 69) );
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 1px 5px 20px ;
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #ffff;
    text-transform: capitalize;
}
header .logo span{
    color: rgb(153, 2, 199);
}
header .navbar a{
    color: #ffff;
    font-size: 2.1rem;
    margin:0 .8rem; 
    
}
header .navbar a:hover{
    color: var(--green);
}
header .icons i{
    font-size: 2.3rem;
    color: #ffff;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: var(--green);
}
header .search-bar-container{
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2); 
    display: flex;
    align-items: center;  
    z-index: 1001;
    clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
}
header .search-bar-container.active{
    clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
}
header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #161616e1;
    font-size: 1.7rem;
    border-radius:.5rem;
}
header .search-bar-container label{
    font-size:3rem ;
    color: #ffff;
    cursor: pointer;
    margin-left: 1.5rem;
}
header .search-bar-container label:hover{
    color: var(--green);

}
#menu-bar{
    color: #ffff;
    border: .1rem solid #ffff;
    border-radius: .5rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}
.home{
    min-height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
   
}
.home .content{
    text-align: center;
}
.home .content h2{
    font-size:150px ;
    color: #8fdddd;
    text-transform: capitalize;
    text-shadow:3px  8px #1a1919 ;
    opacity: 80%;
}
.home .content  p {
    font-size:2.5rem ;
    color: #ffffff;
    padding: .5rem;
    text-shadow:.3rem .2rem #000000 ;
}
.home .content  a{
    font-size:4rem ;
    color: #000000;
    padding: .5rem;
}
.home .video-controler video{
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.home .controls{
    padding: 1rem;
    border-radius: 5rem;
    background: transparent;
    position: relative;
    top:10rem;
}
.home .controls .vid-btn{
    height: 2rem;
    width: 2rem;display: inline-block;
    border-radius: 50%;
    background: #a18f8f94;
    cursor: pointer;
    margin: 0.5rem;
}
.home .controls .vid-btn.active{
    background: #45ff93;
}
/* herosection design */
.contain-pages .topic{
    align-items: center;
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
}
.contain-pages .catagories4 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contain-pages .catagories4 table, td{
    padding: 20px;
    
}
.contain-pages .catagories4 td{
    position: relative;
    width: 50%;
}
.contain-pages .catagories4 td img{
    width: 450px;
    height: 300px;
    border-radius: .5rem;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.contain-pages .catagories4 td:hover img{
    opacity: 0.5;
    color: #ca84d888;
  }
  
.contain-pages .catagories4 td a{
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}
.contain-pages .catagories4 td a:hover{
    color: var(--green);
    cursor: pointer;
}
.detail .row{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    
}
.detail .row .image{
    flex: 1 1 40 rem;
}
.detail .row .image img{
   border-radius: 10px;
   width: 300px; 
   height: 200px;

   
   
}
.detail .row .image .card{
    width: 350px;
    height: 400px;
    background:linear-gradient(to left, rgba(0, 77, 41, 0.877),rgba(119, 97, 1, 0.774)) ;
    
    border-radius: 30px;
}
.detail .row .image .effect{
    filter: linear(20%);
    opacity: 0.8; 
    transition: all 0.3s ease;
}
.detail .row .image .effect:hover{
    filter: none;
    opacity: 1;
}
.detail .row .image p{
    text-transform: capitalize;
    font-size: 24px;
    font-weight:600;
    text-align: center;
}
.detail .row .image p:hover{
    color: var(--green);
}
.detail .row .description{
    font-size: 40px;
    text-align: center;
}

.detail .row .description .imgset2{
    margin-left: 0px;
    margin-right: 50px;
    align-items: center;
    
}
.detail .row .description .imgset2 td img{
    border-radius: 15px;
}
.detail .row .description .imgset2 td .discover-btn{
    font-size: 22px;
    width: 100%;
    height: 55px;
    background-color: #0ad15d;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    cursor:pointer;
    margin-bottom: 70px;
}
.detail .row .description .imgset2 td h6{
    font-size:18pxpx;
    margin-top: 150px;
    margin-bottom: 50px;
}


.page-editor{
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}





footer {
    background-color: #270a0ad3;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #ffff;
}
/* media queries */
@media(max-width:1200px ){
    html{
        font-size: 55%;
     
    }

}
@media(max-width:875px ){
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }

}
@media(max-width:740px ){
   #menu-bar{
    display: initial;
   } 
   header .navbar{
    position: absolute;
    top: 100%; right: 0; left: 0;
    background: #333;
    border-top: .1rem solid #6c50504d;
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
   header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
   }

   header .navbar a{
    display: block;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
   }
}
@media(max-width:450px ){
    html{
        font-size: 50%;
    }
}
