
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Nunito:wght@200;300;400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,500&family=Oswald:wght@200;300;500;600&family=Pacifico&family=Roboto+Slab:wght@200;300;400&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    
}
.hedear-section h1{
    font-family:'Inter', sans-serif;
}
:root{
    --green:#28e4e4f1;
}
*::selection{
    background: var(--green);
    color: #07daac;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}
/* header section styles */
.heading{
    text-align: center;
    padding: 2.5rem 0;
}
/* down side of the main page */
.heading span{
    font-size: 2.5rem;
    background:var(--green);
    border-radius: 0.8rem;
    padding: 0.2rem 1rem;
    display: inline-block;
}
.heading span.space{
    background: none;
}
/* feedback section */
.feedbak-header span{
    font-size: 2.5rem;
    background:var(--green);
    border-radius: 0.8rem;
    padding: 0.2rem 1rem;
    display: inline-block;
}

header{
    position: fixed;
    top:0; left: 0; right: 0;
    background: linear-gradient(to right, rgb(110, 201, 198),rgb(38, 224, 69) );
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #ffff;
    text-transform: capitalize;
}
header .logo span{
    color: rgb(119, 0, 255);
}
header .navbar a{
    color: #ffff;
    font-size: 2.1rem;
    margin:0 .8rem; 
    
}
header .navbar a:hover{
    color: rgb(2, 144, 238);
}
header .icons i{
    font-size: 2.3rem;
    color: #ffff;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: var(--green);
}
header .search-bar-container{
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: #333333;
    border-top: .1rem solid rgba(255, 255, 255, .2); 
    display: flex;
    align-items: center;  
    z-index: 1001;
    clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
}
header .search-bar-container.active{
    clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
}
header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #161616e1;
    font-size: 1.7rem;
    border-radius:.5rem;
}
header .search-bar-container label{
    font-size:3rem ;
    color: #ffff;
    cursor: pointer;
    margin-left: 1.5rem;
}
header .search-bar-container label:hover{
    color: var(--green);
}



/* body section  */

.bodyContent h1{

    font-family: 'Yeseva One', cursive;
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
    
}
.bodyContent p{
    margin-top: 40px;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    font-size: 18px;
    
}
.bodyPic img{
    text-align: center;
    border-radius: 5px;
}

.bodyPic {
    text-align: center;
    border-radius: 10px;
}

/* breef section  */

.hrLine p{
    text-align: center;
    font-size: 11px;
}
.hrLine h2 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    
}
.breaf{
    margin-left: 75px;
    margin-right: 75px;
}
.breaf p{
    font-size: 15px;
    text-align: left;
    margin-left: 30px;
}
.breaf .theader {
    font-size: 34px;
    text-transform: capitalize;
    font-weight: bolder;

}
.breaf .text{
    text-align: center;
    
}

.breaf img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    height: 350px;
    border-radius: 15px;
}
.page-editor-Beach{
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}



footer {
    background-color: #270a0ad3;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
/* media queries */
@media(max-width:1200px ){
    html{
        font-size: 55%;
     
    }

}
@media(max-width:875px ){
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }

}
@media(max-width:740px ){
   #menu-bar{
    display: initial;
   } 
   header .navbar{
    position: absolute;
    top: 100%; right: 0; left: 0;
    background: #333;
    border-top: .1rem solid #6c50504d;
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
   header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
   }

   header .navbar a{
    display: block;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
   }
}
@media(max-width:450px ){
    html{
        font-size: 50%;
    }
}
